div{
    width: 960px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(237, 200, 49);
    padding: 5px;
    margin: auto;
    background-color: cornsilk;
}
img{width: 959px}
p{
    text-align: justify;
}
body{font-family: 'Raleway';}
a{
    text-decoration: none;
}
a:hover{
    color: cornsilk;
    background-color: #c4971c;

}